.orderbox {
  border: 1px solid #ededed;
  border-radius: 8px;
  margin: 0 0 10px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  position: relative;
  &Img {
    min-width: 140px;
    max-width: 140px;
    margin-right: 16px;
  }
  &Content {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &Price {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin: 0 14px;
    white-space: nowrap;
    small {
      font-size: 12px;
      font-weight: 400;
    }
  }
  &Remove {
    margin-left: auto;
    padding-left: 20px;
  }
}

@media screen and (max-width: 750px) {
  .orderbox {
    display: block;
    &Img {min-width: 80px; max-width: 80px; margin-right: 16px;}
    &Content {display: block;}
    &Remove {position: absolute; right: 10px; top: 10px;}
    &Price {margin: 0 0 10px;}
  }
}
